<div class="container">
  <h1>IP ADRESS TRACKER</h1>
  <div id="input">
    <input [formControl]="api" />
    <button
      id="btn"
      (click)="sendreq()"
      style="font-size: 20px; cursor: pointer"
    >
      >
    </button>
  </div>
</div>
<div class="display">
  <ng-container *ngIf="data">
    <div class="flex-2">
      <p style="font-size: 14px; opacity: 0.9">IP adress</p>
      <h3>{{ data.ip }}</h3>
    </div>
    <div class="flex-2">
      <p style="font-size: 14px; opacity: 0.9">Location</p>
      <h3>{{ data.location.region }}</h3>
    </div>
    <div class="flex-2">
      <p style="font-size: 14px; opacity: 0.9">Timezone</p>
      <h3>{{ data.location.timezone }}</h3>
    </div>
    <div class="flex-2">
      <p style="font-size: 14px; opacity: 0.9">ISP</p>
      <h3>{{ data.isp }}</h3>
    </div>
  </ng-container>
</div>
<app-map [ip]="ip"></app-map>
